{% extends 'AbloqovVisioplusBundle::layout.html.twig' %}

{% block styleCSS %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/abloqovvisioplus/css/reset.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/abloqovvisioplus/css/text.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/abloqovvisioplus/css/grid.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/abloqovvisioplus/css/layout.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/abloqovvisioplus/css/nav.css') }}" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{ asset('bundles/abloqovvisioplus/css/ie6.css') }}" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{ asset('bundles/abloqovvisioplus/css/ie.css') }}" media="screen" /><![endif]-->
    <link href="{{ asset('bundles/abloqovvisioplus/css/table/demo_page.css') }}" rel="stylesheet" type="text/css" />    
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <!-- BEGIN: load jquery -->
    <script src="{{ asset('bundles/abloqovvisioplus/js/jquery-1.6.4.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bundles/abloqovvisioplus/js/jquery-ui/jquery.ui.core.min.js') }}"></script>
    <script src="{{ asset('bundles/abloqovvisioplus/js/jquery-ui/jquery.ui.widget.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/abloqovvisioplus/js/jquery-ui/jquery.ui.accordion.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/abloqovvisioplus/js/jquery-ui/jquery.effects.core.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/abloqovvisioplus/js/jquery-ui/jquery.effects.slide.min.js ') }}" type="text/javascript"></script>    
   <script src="{{ asset('bundles/abloqovvisioplus/js/jquery-ui/jquery.ui.mouse.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/abloqovvisioplus/js/jquery-ui/jquery.ui.sortable.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/abloqovvisioplus/js/table/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <!-- END: load jquery -->
    <script type="text/javascript" src="{{ asset('bundles/abloqovvisioplus/js/table/table.js') }}"></script>
    <script src="{{ asset('bundles/abloqovvisioplus/js/setup.js') }}" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            setupLeftMenu();

            $('.datatable').dataTable();
			setSidebarHeight();


        });
    </script>   
{% endblock %}

{% block content %}
    
    
 <div class="grid_10">
            
            <div class="box round">
            	<h2>Statistiques</h2>
                    <div class="stat-col">
                        <span>Solaires</span>
                        <p class="darkblue">
                            {{ MontureSolaire }}
                        </p>
                    </div>
                    <div class="stat-col">
                        <span>Mixtes</span>
                        <p class="green">
                            {{ MontureMixte }}
                        </p>
                    </div>
                    <div class="stat-col">
                        <span>Hommes</span>
                        <p class="blue">
                            {{ MontureHomme }}
                        </p>
                    </div>
                    <div class="stat-col">
                        <span>Femmes</span>
                        <p class="red">
                            {{ MontureFemme }}
                        </p>
                    </div>
                    <div class="stat-col">
                        <span>Enfants</span>
                        <p class="yellow">
                            {{ MontureEnfant }}
                        </p>
                    </div>
                    <div class="stat-col">
                        <span>Montures</span>
                        <p class="purple">
                            {{ NombreTotalMonture }}
                        </p>
                    </div>
                <div class="block">
                    <div class="clear"></div>
                </div>
            </div>
                    <div class="clear"></div>
            <!-- / ZONE STATISTIQUES -->

            
            <!-- TABLEAU D'ENREGISTREMENT -->
            <div class="box round">
                <div class="block">
                <h1>GESTION DES MONTURES</h1>
                <div class="monture">
                   <table class="data display datatable" >
                                	<thead>
                                    	<th>N°</th>
                                        <th> MARQUES </th>
                                        <th> REFERENCES </th>
                                        <th> GENRE </th>
                                        <th> PRIX </th>
                                        <th> STOCK </th>
                                        <th> CREATION</th>
                                        <th> ACTIONS </th>
                                    </thead>
                                    <tbody>
                                        {% set numero = 0 %}
                                        {% for monture in montures %}
                                            <tr class="">
                                            {% set numero = numero + 1 %}
                                            <td>{{ numero }}</td>
                                            <td class="a-gauche"> {{ monture.marque }} </td>
                                            <td> {{ monture.reference }} </td>
                                            <td> {{ monture.genre }} </td>
                                            <td class="a-droite"> {{ monture.prixvente|number_format('0', '', '.') }} </td>
                                            <td> {{ monture.stock }} </td>
                                            <td> {{ monture.datecreationAt|date('d/m/Y') }} </td>
                                            <td>
                                                <a href="{{ path('monture_edit', { 'id' : monture.id }) }}" title="Modifier la monture"><i class="icon-copy"></i></a> 
                                                &nbsp; | &nbsp; 
                                                <a href="{{ path('monture_show' , { 'id' : monture.id }) }}" title="Voir les details de la monture"> <i class="icon-search"> </i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="aller-page">
                                <a href="{{ path('monture_new') }}"><i class="icon-plus"></i> Ajouter une monture</a>
                                </div>
                                </div>
                    <div class="clear"></div>
                </div>
            </div>
            
            
        </div>
    
{% endblock %}